<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- STYLE -->
    
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <!-- Form Container -->
    <div class="form-container">
        <div class="col col-1">
            <div class="image-layer">
                <img src="../img/monkey.png" class="form-image-main">
                <!-- <img src="../img/dots.png" class="form-image dots">
                <img src="../img/coin.png" class="form-image coin">
                <img src="../img/spring.png" class="form-image spring">
                <img src="../img/rocket.png" class="form-image rocket">
                <img src="../img/cloud.png" class="form-image cloud">
                <img src="../img/stars.png" class="form-image stars"> -->
                <p class="feature-word">Make financial planning easier with <span>MoneyMonkey</span></p>
            </div>
        </div>
        <div class="col col-2">
            <!-- sign in and sign up -->
            <div class="btn-box">
                <button class="btn btn-1" id="login">Sign In</button>
                <button class="btn btn-2" id="register">Sign up</button>
            </div>

            <!-- Login Form Container -->
             
            <div class="login-form">
                <div class="form-title">
                    <span>Sign In</span>
                </div>
                <form method="post" action="/checkLogin">
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="text" class="input-field" name="email" placeholder="Email" required>
                            <i class="bx bx-envelope icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" class="input-field" name="password" placeholder="Password" required>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#">Forgot Password?</a>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span>Sign In</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Register Form Container -->
            <div class="register-form">
                <div class="form-title">
                    <span>Create Account</span>
                </div>
                <form method="post" action="/checkRegister">
                    <div class="form-inputs">
                        <div class="input-box">
                            <input type="text" class="input-field" name="email" placeholder="Email" required>
                            <i class="bx bx-envelope icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="text" class="input-field" name="username" placeholder="Username" required>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input type="password" class="input-field" name="password" placeholder="Password" required>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="forgot-pass">
                            <a href="#">Forgot Password?</a>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span>Sign Up</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>